/* Global Styling & Resets */

:root {
    /* Font Families */
    --ff-common: "Righteous", sans-serif;

    /* Font Sizes */
    --fs-base: 1rem;
    --fs-nav: 0.64rem;
    --fs-small: 0.8rem;
    --fs-x-small: 0.512rem;

    --fs-x-large-heading: 3.052rem;
    --fs-large-heading: 2.441rem;
    --fs-h1: 1.953rem;
    --fs-h2: 1.563rem;
    --fs-h3: 1.25rem;
    --fs-h4: var(--baseFontSize);
    --fs-h5: var(--smallFontSize);
    --fs-h6: 0.64rem;
    --fs-h7: var(--smallestFontSize);

    --fs-token: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #475561;
}

button,
input,
textarea,
select {
    font: inherit;
}

/* Element-Specific Styling */

body {
    font-family: var(--ff-common);
    font-size: var(--fs-base);

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: var(--fs-x-large-heading);
}

header {
    width: 100%;
    text-align: center;
    min-height: 3rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    min-height: 1rem;
    text-align: center;
    margin-top: auto;
}

/* Class Specific Styling */

.gameboard {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: max(25%, 20rem)
}

.row {
    display: flex;
    gap: 0.25rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 0 1 33%;
    aspect-ratio: 1;

    background-color: white;
    font-size: var(--fs-token);
}

.resetBtn {
    
}